body{
    background-color:#F1F1F1;
}
.btn-toggle-nav{
    width: 60px;
    height: 100%;
    background-color: #f98f39;
    background-image:url(image/menu.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    cursor: pointer;

}
.btn-toggle-nav:hover{
   opacity: 0.5;
}
.nav-sidebar{
    position: fixed;
    left:0;
    bottom: 0;
    width: 50px;
    height:calc(100vh-60px);
    padding: 0 5px;
    background-color: #1b1b1b;
    z-index: 1000;
    transition: all 0.3s ease-in-out;

}

.nav-sidebar ul{
    padding-top: 15px;
    display: inline;
    overflow: hidden;
    visibility: hidden;
}
.nav-sidebar ul li {

    line-height: 60px;
    list-style: none;

}
.nav-sidebar ul li span,.nav-sidebar ul li a {
    display: block;
    height: 60px;
    padding: 0 10px;
    text-decoration: none;
    text-transform:uppercase;
    color: #1fff;
    font-family: arial;
    font-size: 16px;
    white-space: nowrap;
    opacity: =0;
    transition: all 0.3s ease-in-out;
}
.nav-sidebar ul li span,.nav-sidebar ul li  a :hover{
    background-color: #222;
}

.menu1{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:darkgray;
}
li a{
    display:block;
    font-family: sans-serif;
    color: black;
    padding: 15px;
    text-decoration: none;
}
li {
    float: left;
    padding-right:35px;
    overflow: hidden;
}
li a:hover {
  background-color:white;
}

h1{
    background-color: aquamarine;
    font-family: sans-serif;
    padding:40px;
    text-align: center
}
.lecture a:hover{
    background-color: blue;
    padding:
}
.footer{
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: darkcyan;
    color: black;
    text-align: center;

}
.img{
    border-bottom-color: aliceblue;

}

.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page*/

#Home {background-color: red;}
#Contact {background-color: blue;}
#About {background-color: orange;}
